# Blueprint for Render Deployment
# (ИЗМЕНЕНО: Миграция на MongoDB)

services:
  # The Python Web Server (FastAPI)
  - type: web
    name: bazzar-kline-data-fetcher # (Название обновлено)
    env: python
    plan: free # Use the free instance type
    region: frankfurt # Deploy in Europe
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn main:app --host 0.0.0.0 --port $PORT"
    healthCheckPath: /health
    envVars:
      # (УДАЛЕНО) Блок DATABASE_URL (PostgreSQL) удален.

      - key: PYTHON_VERSION
        value: "3.12.0"
      - key: SECRET_TOKEN
        generateValue: true # Render will automatically generate a secure secret key

      # (ДОБАВЛЕНО) Секрет для подключения к MongoDB
      - key: MONGO_DB_URL
        sync: false # ❗️ Необходимо установить в панели Render
