ccxt==4.3.50
pandas==2.2.2
pandas-ta==0.4.71b0
psycopg2-binary==2.9.9
requests==2.32.3
hurst==0.0.5
scipy==1.13.1
tenacity==8.3.0
numpy==1.26.4
numba==0.61.2
fastapi==0.111.0
uvicorn[standard]==0.29.0